body {
    background:white;
    margin: 0;
    font-family: sans-serif;
    font-weight: 400;
}

.header {
    background: rgba(130, 238, 202, 0.856);
    height: 100px;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}


.logo {
    height: 230px;
    margin-right: auto;
}


.navbar {
    margin: 0;
    list-style: none;
    
}

.navbar li {
    display: inline-block;
   margin-left: 50px;
   margin-right: 140px;
}

.navbar a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 35px;
    font-family:'Amatic SC';
}

.navbar a:hover{
    color:#000;
}

.navbar a::before {
    content:'';
    display: block;
    height: 4px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top:0px;
}

.navbar a:hover::before {
    width: 3%;
}

.container {
    width: 100%;
    height:500px ;
    display:flex;
    flex-direction: row;
}

.leftmain {
    background-color: rgba(160, 241, 213, 0.856);
    float:left;
    width: 50%;
    height: 500px;

}


.rightmain {
    float: right;
    width: 50%;
    height: 500px;
}

.mainpic {
   
width: 100%;
height: 500px;

}

h1 {
    font-family:'Amatic SC';
    font-size: 90px;
    text-align: center;
    text-decoration-line: underline;

}


h2{
    font-family:'Amatic SC';
    font-size: 70px;
    text-align: center;
}
h3 {
    font-family:'Amatic SC';
    font-size: 40px;
    text-align: center;
    font-weight: lighter;
    text-align: center;
}

p {
    font-family:'Amatic SC';
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    max-width: 450px;
    padding: 0px 20px;
}

.box_info {
    display: flex;
    flex-direction: row;
   justify-content: space-around;
}

.signup_layout {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    width: auto;
    height: 120px;
    border-radius: 12px; 
    margin: 50px 400px;
    padding: 10px 20px;
    border-color: none;
    }


.signup_text {
       
    }
    
.signup_text p {
    opacity: 0.7;
    
    text-align: left;
}

.signup_btn {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', arial;
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
}

.btn {
    
}

footer {
    margin-top: 200px;
    background-color: rgba(160, 241, 213, 0.856);
    height: 250px;
}